@tailwind base;
@tailwind components;
@tailwind utilities;

.mentors-grid {
  display: flex;
}

.container-70 {
  flex: 70%;
}

.container-30 {
  flex: 30%;
  background-color: #ffffff; /* Add your desired styles here */
}
